@mixin btn2 {
    background-color: hsl(322, 100%, 66%);
    color: white;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 2px 5px gray;
    font-size: 16px;
    font-weight: bold;
    padding: 0.7rem 1rem;
    margin: 1rem;
    width: 30%;
}
@mixin article-phone {
    text-align: center;
    padding: 3rem 0rem 1rem;
    margin-top: 2rem;
    background-color: $font-color3;
    border-radius: 30px;
    box-shadow: 0px 2px 6px gray;
    line-height: 24px;
    .illustration{
        padding: 0rem 3rem 2rem;
    }
    .title{
        font-size: 24px;
        padding: 1rem 1rem 1rem;
        font-weight: bold;
        font-family: $font1;
    }
    .para{
        font-size: 14px;
        color: $font-color1;
        font-family: $font2;
        padding: 1rem;
    }
}
@mixin grid {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
    
}


footer {
    font-family: $font2;
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 1rem;
    line-height: 36px;
    .logo {
         img{
            width: 40%;
            padding: 1rem;
            }
        }
    
    .email {
        img{
            padding: 0rem 1rem;
        }
    }
    .phone {
        img{
            padding: 0rem 1rem;
        }
    }
    .adresse{
        padding: 1rem;
    }
    .part1{
        padding: 1rem;
    }
    .part2{
        padding: 1rem;
    }
}